#root {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15,23,42);
  color: white;
  padding: 2rem;
}
body{
  background-color: rgb(15,23,42);
}

@media (max-width: 420px) {
  body{
  margin: 0;
  padding: 0;
  width: 100%;
  }
}
